	@charset "UTF-8";
form table {
  box-shadow: none;
}
form .field {
  display: block;
  position: relative;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border: 2px solid #0081d8;
}
form .field.small {
  height: 30px;
  border: 2px solid #0081d8;
  max-width: 200px;
}
form .field.small label {
  width: 30px;
  font-size: 14px;
  line-height: 30px;
}
form .field.small .styled-select {
  width: calc(100% - 30px);
  height: 30px;
}
form .field.small .styled-select select {
  padding-left: 10px;
  font-size: 12px;
}
form .field.small .styled-select::before {
  font-size: 14px;
  line-height: 30px;
  padding: 0 5px 0 5px;
}
form .field.small input[type=text],
form .field.small input[type=password] {
  display: inline-block;
  height: 30px;
  width: calc(100% - 30px);
  float: right;
  border-top: 0;
  
  padding-left: 10px;
  border-left: 0;
  border-right: 0;
  color: #0081d8;
}
form .field label {
  display: inline-block;
  width: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  color: #fafafa;
  float: left;
  background-color: #0081d8;
  height: 100%;
}
form .field label.filefield {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
}
form .field input[type=text],
form .field input[type=password] {
  display: inline-block;
  height: 100%;
  width: calc(100% - 50px);
  float: right;
  border-top: 0;
  
  padding-left: 20px;
  border-left: 0;
  border-right: 0;
  color: #0081d8;
}
form .field input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
form .field .helper {
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 50px;
  
  text-decoration: none;
  text-transform: capitalize;
  color: #0081d8;
}
form .field textarea {
  display: inline-block;
  height: 100%;
  width: calc(100% - 50px);
  float: right;
  border-top: 0;
  
  padding: 10px 0px 10px 20px;
  border-left: 0;
  border-right: 0;
  resize: none;
  color: #0081d8;
}
form .field .styled-select {
  display: inline-block;
  height: 100%;
  width: calc(100% - 50px);
  overflow: hidden;
  float: right;
}
form .field .styled-select select {
  color: #0081d8;
  display: block;
  height: 100%;
  width: calc(100% + 50px);
  border-top: 0;
  
  padding-left: 20px;
  border-left: 0;
  border-right: 0;
  -webkit-appearance: none;
}
form .field .styled-select::before {
  display: block;
  position: absolute;
  content: '\f104';
  font-family: Ionicons;
  font-size: 20px;
  line-height: 50px;
  color: #fafafa;
  background-color: #0081d8;
  padding: 0 10px 0px 10px;
  right: 0;
  top: 0;
}
form .field button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0081d8;
  color: #fafafa;
  
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
form .field button:hover,
form .field button:focus,
form .field button:active {
  background-color: rgba(0, 129, 216, 0.8);
}
form .field.field-inline {
  border: 0;
}
form .field.field-inline .input-left {
  width: 65%;
  height: 100%;
  float: left;
  border: 2px solid #0081d8;
}
form .field.field-inline .input-left.withcheckbox {
  width: calc( 100% - 50px );
}
form .field.field-inline .input-right {
  width: 30%;
  height: 100%;
  float: right;
  border: 2px solid #0081d8;
  position: relative;
}
form .field.field-inline .input-right input[type=text] {
  float: left;
  text-align: center;
  padding: 0;
}
form .field.field-inline .input-right input[type=checkbox] {
  height: 50px;
  width: 50px;
  opacity: 0;
  text-align: center;
  padding: 0;
}
form .field.field-inline .input-right input[type=checkbox] + label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
form .field.field-inline .input-right input[type=checkbox] + label:before {
  color: #99cdef;
  font-family: 'Ionicons';
  font-size: 25px;
  position: absolute;
  content: '\f372';
  transition: all 0.2s;
  cursor: pointer;
}
form .field.field-inline .input-right input[type=checkbox]:checked + label:before {
  color: #0081d8;
  content: '\f373';
  font-family: 'Ionicons';
  font-size: 25px;
  position: absolute;
  transition: all 0.2s;
  cursor: pointer;
}
form .field.field-inline .input-right label {
  float: right;
}
form .field.field-inline .input-right.checkbox {
  border: 0;
  width: 50px;
}
form .field.noborder {
  border: 0;
}
form .field.left {
  text-align: left;
}
form .field.center {
  text-align: center;
}
form .field.right {
  text-align: right;
}
form .field.error {
  margin: 0;
  height: 20px;
  
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
}
form .field.textarea {
  height: 100px;
}
table {
  display: table;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(193, 193, 193, 0.4);
  
  border-radius: 0px;
  border-collapse: collapse;
}
table .fit {
  width: 1%;
  white-space: nowrap;
}
table thead {
  display: table-header-group;
  border-bottom: 2px solid #80c0ec;
}
table thead tr {
  display: table-row;
  width: 100%;
}
table thead tr td {
  width: auto;
  display: table-cell;
  padding: 5px 10px;
  color: #202020;
  text-align: left;
  line-height: 30px;
  color: #0081d8;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}
table thead tr td span {
  display: block;
  width: 100%;
}
table thead tr td span.big {
  font-size: 20px;
}
table thead tr td span.bold {
  font-size: 12px;
  font-weight: bold;
}
table thead tr td.caption {
  color: #0081d8;
}
table thead tr td > .button:only-child {
  display: inline;
}
table thead tr td:first-child {
  padding-left: 20px;
}
table thead tr td:last-child {
  padding-right: 20px;
}
table thead tr td.small {
  line-height: 150%;
}
table thead tr td.center {
  text-align: center;
}
table thead tr.withtablefilter td {
  padding: 0;
}
table thead tr.withtablefilter .tablefilter {
  table-layout: fixed;
  width: 100%;
}
table thead tr.withtablefilter .tablefilter td {
  width: 100%;
  padding: 0 20px 0 20px;
}
table thead tr.withtablefilter .tablefilter td.filter {
  width: 250px;
}
table thead tr.withtablefilter .tablefilter td.filter-btn {
  width: 100px;
  text-align: center;
}
table thead tr.tabletitle td {
  padding-top: 20px;
  font-size: 18px;
}
table tbody {
  
  width: 100%;
  display: table-row-group;
}
table tbody tr {
  width: 100%;
  display: table-row;
  border-bottom: 1px solid #cce6f7;
}
table tbody tr td {
  width: auto;
  display: table-cell;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #202020;
  text-align: left;
  line-height: 30px;
  text-transform: capitalize;
}
table tbody tr td span {
  display: block;
  width: 100%;
  font-size: 16px;
}
table tbody tr td span.big {
  font-size: 20px;
}
table tbody tr td span.bold {
  font-size: 12px;
  font-weight: bold;
}
table tbody tr td.caption {
  color: #0081d8;
}
table tbody tr td > .button:only-child {
  display: inline;
}
table tbody tr td:first-child {
  padding-left: 20px;
}
table tbody tr td:last-child {
  padding-right: 20px;
}
table tbody tr td.small {
  line-height: 150%;
}
table tbody tr td.center {
  text-align: center;
}
table tbody tr:last-of-type {
  border-bottom: 0px;
}
table tfoot {
  display: table-footer-group;
  border-top: 2px solid #80c0ec;
  padding: 10px;
}
table tfoot tr td {
  padding: 10px;
}
table tfoot tr td ul {
  display: inline-block;
  float: left;
  user-select: none;
}
table tfoot tr td ul li {
  display: inline-block;
}
table tfoot tr td ul li a {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  user-select: none;
  line-height: 30px;
  width: 30px;
  text-decoration: none;
  color: #fafafa;
  
  transition: all 0.4s;
}
table tfoot tr td ul li a:hover {
  background-color: rgba(0, 129, 216, 0.8);
}
table tfoot tr td ul li.active,
table tfoot tr td ul li.disabled {
  background-color: rgba(0, 129, 216, 0.5);
}
table tfoot tr td ul li.active span,
table tfoot tr td ul li.disabled span {
  display: inline-block;
  text-align: center;
  cursor: default;
  user-select: none;
  line-height: 30px;
  width: 30px;
  text-decoration: none;
  color: #fafafa;
  
table.seminar > tbody td {
  padding: 30px 5px 5px 5px;
  vertical-align: baseline;
  height: 100%;
  border: 3px solid #cce6f7;
  position: relative;
  user-select: none;
  cursor: default;
}
table.seminar > tbody td:not(.caption):hover {
  transition: all 0.2s;
  cursor: default;
  user-select: none;
}
table.seminar > tbody td.caption {
  font-weight: bold;
}
table.seminar > tbody td .mark {
  top: 5px;
  left: 5px;
  display: block;
  position: absolute;
  font-size: 18px;
  color: #0081d8;
  text-align: center;
}
table.seminar > tbody td .button {
  margin-top: 5px;
}
body {
  font-family: "LatoWeb";
  font-size: 9pt;
  font-style: normal;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#menu {
  position: fixed;
  top: 0.50em;
  left: 0;
}
#nav {
  font-family: "LatoWeb";
  background-color: none;
  width: 150px;
  text-align: left;
  font-size: 1em;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 20 30 20;
  float: left;
}
#nav li {
  float: none;
}
#nav li a:link {
  display: block;
  padding: 4px 5px;
  text-decoration: none;
  background-color: #eee;
  color: #222;
}
.large {
  font-size: 2.2em;
}
#main {
  font-family: "LatoWeb";
  font-style: normal;
  font-size: 1.5em;
  color: #black;
  background-color: white;
  width: 840px;
  padding: 0 40px 0 40px;
  margin-left: 180px;
  margin-top: auto;
  margin-right: 0;
}
.waterfall {
  font-size: 10px;
  width: 100%;
  overflow: hidden;
  text-shadow: 0px 0px 0px black;
  color: #000;
}
.size10 {
  font-size: 10px;
}
.size11 {
  font-size: 11px;
}
.size12 {
  font-size: 12px;
}
.size13 {
  font-size: 13px;
}
.size14 {
  font-size: 14px;
}
.size16 {
  font-size: 16px;
}
.size18 {
  font-size: 18px;
}
.size20 {
  font-size: 20px;
}
.size24 {
  font-size: 24px;
}
.size30 {
  font-size: 30px;
}
.size36 {
  font-size: 36px;
}
.size48 {
  font-size: 48px;
}
.size60 {
  font-size: 60px;
}
.size72 {
  font-size: 72px;
}
.size90 {
  font-size: 90px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.kp-sidebar {
  display: block;
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: #0081d8;
  overflow: hidden;
  min-height: 600px;
  text-decoration: none;
  z-index: 1;
  transition: 0.5s all;
}
.kp-sidebar .sidebar-logo {
  display: block;
  position: relative;
  height: 70px;
  background-color: #0074c2;
  border-bottom: 2px solid #80c0ec;
  padding: 10px 5px;
}
.kp-sidebar .sidebar-logo .image {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-right: 10px;
  margin-right: 10px;
  float: left;
}
.kp-sidebar .sidebar-logo .text {
  display: inline-block;
  position: relative;
  
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  vertical-align: bottom;
  width: calc(100% - 80px);
}
.kp-sidebar .sidebar-logo .text span {
  display: block;
  position: absolute;
  height: 10px;
  font-size: 8px;
  
  line-height: 10px;
  font-weight: 700;
}
.sidebar-content {
  display: block;
  line-height: 40px;
  
  overflow: auto;
}
.sidebar-content li {
  display: block;
  padding: 0 0 0 10px;
}
.sidebar-content .group-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fafafa;
  letter-spacing: 1px;
}
.sidebar-content .items {
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
  transition: all .2s;
}
.sidebar-content .items a {
  display: block;
  color: #eeeeee;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
}
.sidebar-content .items.active {
  background-color: #339ae0;
}
.sidebar-content .items:hover,
.sidebar-content .items:active {
  background-color: #339ae0;
}
.sidebar-content .different {
  height: 0px;
  border-bottom: 1px solid rgba(193, 193, 193, 0.4);
  margin: 5px 10px;
}
.bar {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 600px;
  background-color: #f5f5f5;
  z-index: 0;
}
.bar .container {
  display: block;
  padding-left: 250px;
  height: 100%;
  transition: 0.5s all;
}
.bar .container .account {
  display: block;
  position: absolute;
  top: 0;
  right: 30px;
  padding: 10px 10px;
  width: auto;
  background-color: #0081d8;
}
.bar .container .account .name {
  display: inline-block;
  float: right;
  
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.bar .container .info {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
  padding-left: 40px;
}
.bar .container .info .main {
  display: block;
  position: relative;
  height: 50px;
  width: 100%;
  
  text-transform: uppercase;
  color: #646464;
}
.bar .container .info .main .secondary {
  display: block;
  position: absolute;
  font-size: 14px;
  bottom: 0px;
  font-weight: bold;
}
.bar .container .menu {
  display: block;
  background-color: white;
  padding-left: 30px;
  overflow: hidden;
}
.bar .container .menu li {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}
.bar .container .menu li a {
  display: inline-block;
  line-height: 30px;
  
  font-size: 12px;
  padding: 0 20px;
  text-decoration: none;
  color: #0081d8;
  transition: all 0.2s;
}
.bar .container .menu li a.active,
.bar .container .menu li a:hover,
.bar .container .menu li a:active {
  background-color: #0081d8;
  color: white;
}
.bar .container .content {
  padding: 30px 30px;
  height: calc(100% - (100px));
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}
.content.withmenu {
  height: calc(100% - (100px + 30px)) !important;
}
.content.tableinside {
  align-items: baseline !important;
}
.panel {
  display: block;
  height: auto;
  width: auto;
  box-shadow: 0px 0px 5px rgba(193, 193, 193, 0.4);
  padding: 50px 50px 0 50px;
  margin: auto;
  background-color: #fff;
  position: relative;
}
.panel .tag {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.panel .tag .tag-content {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #0081d8;
  
  color: #eeeeee;
  text-transform: uppercase;
}
.panel .header {
  display: block;
  line-height: 50px;
  font-size: 12px;
  font-family: 'Roboto Light', Halvetica, sans-serif;
  color: #202020;
  border-bottom: 1px solid rgba(193, 193, 193, 0.4);
  letter-spacing: 1px;
  text-transform: capitalize;
}
.panel .main {
  display: block;
  padding: 20px 0;
}
.panel .footer {
  display: block;
  height: 40px;
}
.login-header {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 400px;
  font-size: 40px;
  
  letter-spacing: 1px;
}
.login-header .text {
  text-align: center;
}
.login-header .text .secondary {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  
.icon {
  margin-right: 5px;
}
.form {
  width: 500px !important;
}
.list {
  display: flex;
  position: relative;
  margin: 10px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.list label {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #0081d8;
  border-radius: 50%;
  color: #fafafa;
  text-align: center;
  font-size: 20px;
}
.list .item {
  display: inline-block;
  height: auto;
  width: calc(100% - 50px);
  position: relative;
  padding: 0 0 0 20px;
}
.list .item .title {
  display: block;
  width: 100%;
  color: #0081d8;
  padding: 0;
}
.list .item .desc {
  display: block;
  width: 100%;
  padding: 0;
  color: #202020;
  
  text-align: justify;
}
.kp-status {
  width: 100%;
  height: auto;
  padding: 10px 20px 10px 20px;
  color: #fafafa;
  background-color: #ff900a;
}
.kp-status .title {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
.kp-status .desc {
  text-align: justify;
  font-size: 14px;
  background-color: #ff900a;
  padding: 0;
}
.field {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}
.noborder {
  border: 0;
}
.error {
  margin: 0;
  height: 20px;
  
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0081d8;
  color: #fafafa;
  
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.button:hover,
.button:focus,
.button:active {
  background-color: rgba(0, 129, 216, 0.8);
}
.button.small {
  font-size: 10px;
  padding: 10px 10px;
  line-height: 10px;
}
.button.small .icon {
  margin-right: 5px;
}
.button span {
  display: inline;
}
.tag {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.tag .tag-content {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #0081d8;
  
  color: #eeeeee;
  text-transform: uppercase;
}
.button-wrapper {
  white-space: nowrap;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}